body {
  background-color: #ffffff;
  color: rgba(148, 137, 137, 0.7);
  font-family: 'Lato', sans-serif;
  margin: 20px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.firstline{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.menu{
  width: 100%;
  background-color: black;
  height: 90px;
  color:aliceblue;
  position: relative;
}
.asos{
  display: inline-block;
    margin-left: 220px;
    font-size: 45px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    color: aliceblue;
  }
 .women{
   display: inline-block;
   margin-left: 40px;
   font-size: 25px;
   color: aliceblue;
 } 
 .men{
   color: aliceblue;
   font-size: 25px;
   display: inline-block;
   margin-left: 40px;
 }
 .search{
    display: inline-block;
    margin-left: 50px;
   height: 100px;
   
   width: 100px;
  
  }
  .fa-search{
    display: inline-block;
    color:blueviolet;
    margin-left: 78px;
  }
  .fa-user{
    display: inline-block;
    margin-left: 800px;
    font-size: 40px;
    position: absolute;
  }
  .fa-heart{
    display: inline-block;
    margin-left: 850px;
    font-size: 40px;
    position: absolute;
  }
 .fa-suitcase{
  display: inline-block;
  margin-left: 914px;
  font-size: 40px;
  position: absolute;
 }
 .container>ul>li>ul{
   display:none
 }
 header .container>ul>li:hover ul{
   display:block;
   margin-top: 40px;
   margin-left: 10px;
   background-color: #b9b7ae;
   position: absolute;
   -webkit-text-fill-color: aliceblue;
  }
 .outlet{
   background-color: red;
   color: aliceblue;
   border: 5px solid rgb(253, 3, 3);
   border-top-left-radius: 70%;
   border-bottom-right-radius: 70%;
 }
 .sales{
   background-color: red;
   color: aliceblue;
   box-sizing: border-box;
   border: 5px solid rgb(253, 3, 3);
   border-top-left-radius: 70%;
   border-bottom-right-radius: 70%;
 }
 .container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   max-width: 100%;
   font-size: 30px; 
   background-color: #525050;

 }
 a:link{
          cursor: pointer;
   }
   ul{ list-style-type: none;} 
   li{text-decoration: none;
  }
  .mrk{
    color:#ffffff
  }
.brn{
  color: #ffffff;
}
.fcb{
  color: #ffffff;
}
.top{
  color: #ffffff;
}
.trn{
  color: #ffffff;
}
.acc{
  color: #ffffff;
}
.spr{
  color: #ffffff;
}
.sh{
  color:#ffffff;
}
.clt{
  color:#ffffff;
}
.new{
  color: #ffffff;
}
.main{
  background-color: black;
  width: 100%;
  height: 50px;
  position: relative;
}
.wmen{
  font-size: 30px;
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  position: absolute;
  cursor: pointer;
}
.text3{
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #fff;
}
.man{
  color: rgb(255, 255, 255);
  position: absolute;
  display: block;
  justify-content: flex-end;
  font-size: 30px;
  border: 2px solid #fff;
  margin-left: 1700px; 
  margin-bottom: 50px;
  cursor: pointer;
  margin-top: 5px;
}
.jlg{
  position: absolute;
  width: 100%;
  margin-left: 500px;
}